
icon-button {
  font-size: 1.25rem; /* Đảm bảo kích thước của cả hai biểu tượng */
  padding: 5px; /* Khoảng cách giữa biểu tượng và viền */
  display: flex;
  align-items: center; /* Đảm bảo biểu tượng căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa biểu tượng */
}

.ms-2 {
  margin-left: 10px; /* Cách kính lúp với giỏ hàng 10px */
}
.quantity-button {
  background-color: #007bff; /* Màu xanh dương */
  color: white;
  border: none;
  width: 30px;  /* Chiều rộng cố định */
  height: 30px; /* Chiều cao cố định */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.quantity-button:hover {
  background-color: #0056b3; /* Màu nền khi hover */
}

.quantity-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Hiệu ứng focus */
}


